<ion-view>
  <ion-content>
    <div class="notesDiv">
      <h1>Notes</h1>
      <form name="ctrl.notesForm">
        <input class="row inputNote" ng-model="ctrl.noteInput[0]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[1]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[2]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[3]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[4]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[5]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[6]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[7]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[8]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[9]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[10]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[11]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[12]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[13]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[14]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[15]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[16]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[17]" />
        <input class="row inputNote" ng-model="ctrl.noteInput[18]" />
        <button class="btn btn-primary" type="submit" ng-click="ctrl.submitNote(ctrl.noteInput);">Submit</button>
      </form>
    </div>
  </ion-content>
</ion-view>
