<!--<ion-view view-title="{{ctrl.navImg}}">-->
<ion-view>
    <ion-tabs class="tabs-aag tabs-icon-top">
    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="app.tabs.home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Camera" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ui-sref="app.tabs.camera">
      <ion-nav-view name="camera-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Communication Board" icon-on="ion-chatbubbles" icon-off="ion-chatbubbles" ui-sref="app.tabs.communication">
      <ion-nav-view name="communication-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contacts" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="app.tabs.contacts">
      <ion-nav-view name="contacts-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>